/* ====== IMPORT: Bootstrap (reference), Mixins, Variables ====== */
@import (reference) url("../../bower_components/bootstrap/less/bootstrap.less");

// Include Bootstrap as reference (returns mixins and vars by request).

html {
  background: url(/public/images/bg-lax.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: initial;
}

.logo-panel {
  height: 100px;

  .sd-logo {
    width: 168px;
    height: 26px;
    background: url(/public/images/logo2.png) no-repeat;
    position: absolute;
    bottom: 10px;
    display: inline-block;
  }

  .text {
    display: inline-block;
    font-size: 30px;
    text-shadow: 2px 1px #666666;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}

.signup-views {
  .content {
    padding: 15px 30px;
    background-color: rgba(218, 222, 226, 0.9);
    border-radius: 10px;

    .label-row {
      height: 30px;
    }

    .radio-row {
      label{
        &:hover{
          background-color: #e0e0e2;
          border-radius: 5px;
        }

        //&:has(input:checked){
        //  background-color: #000000 !important;
        //}
        &.selected-label {
          background-color: #ffffff;
        }
      }

      li {
        font-size: 0.9em;
      }
    }
    .row {
      //height: 35px;
      .form-group {
        label {
          color: black;
          //position: relative;
          //top: 15px;
        }

        .input-small {
          width: 50px;
          display: inline-block;
        }

        .form-control-feedback {
          top: 10px;
          right: 10px;
          color: #999;
          font-size: 0.9em;
        }
      }
    }

    .row-break {
      border-top: 1px solid #a3aaae;
      font-size: 0.9em;
      margin-top: 15px;
      padding-top: 15px;

      .eula-container {
        color: #7f7f7f;

        .eula-control {
          width: 100%;
          text-align: right;
        }

        .eula-text {
          padding-top: 10px;
        }
      }
    }

    .btn-primary {
      color: #4e4409;
      //background-color: #fbdb1f;
      border-color: #968419;

      text-shadow: 1px 1px 1px #EBD341;
      filter: dropshadow(color=#ebd341, offx=1, offy=1);
      background: #FBDB1F;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBDB1F), color-stop(100%, #CDB316));
      background: -moz-linear-gradient(top, #FBDB1F 0%, #CDB316 100%);
      background: -webkit-linear-gradient(top, #FBDB1F 0%, #CDB316 100%);
      background: -o-linear-gradient(top, #FBDB1F 0%, #CDB316 100%);
      background: -ms-linear-gradient(top, #FBDB1F 0%, #CDB316 100%);
      background: linear-gradient(top, #FBDB1F 0%, #CDB316 100%);

      &:hover {
        color: #4e4409;
        background: #fbdb1f;
        border-color: #204d74
      }
    }
  }
}





//body {
//  zoom: 1;
//  background: url(/public/images/bg-cropped.jpg) no-repeat;
//  background-size: cover;
//  height: 100%;
//  z-index: 2;
//  position: relative;
//}

//@id: signup-all;

.highlight-error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #a94442;
}
