<div class="content">


    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label>SigningDay Lacrosse and Recruiting</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-groupX">
            <div class="col-xs-12">
                <p>
                    SigningDay is a lacrosse-recruiting platform that puts players in control of the recruiting process.
                    On SigningDay, players manage their own recruiting profiles, post first-hand content and communicate
                    directly with college coaches. SigningDay provides athletes with the tools and resources to achieve
                    success in the recruiting process and throughout their careers.
                </p>

                <p>
                    SigningDay Lacrosse is a three-step process.

                <ol>
                    <li>Choose an evaluation package</li>
                    <li>Fill out parent and player profile information</li>
                    <li>Pay for the evaluation package and await email confirmation</li>
                </ol>

                    Let's get started!
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a ui-sref="signup.package" class="btn btn-primary">
                    <!--ng-if="main.areFieldsValid()"-->
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
