<div class="content">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <h4>Step 1. Choose an Evaluation Package</h4>
            </div>
        </div>
    </div>
    <div class="row radio-row">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="radio" ng-repeat="package in main.packages">
                    <label ng-class="{'selected-label': main.getSelectedLabelClass(package.title)}">
                        <input type="radio" name="optradio" value="{{package.title}}"
                               ng-model="main.selectedPackage.title">{{package.title}} - ${{package.price}}
                        <p>
                        <ol type="i">
                            <li ng-repeat="detail in package.descriptionDetails">{{detail}}</li>
                        </ol>
                        </p>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="main.hasPackageErrors">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            <strong>Oops! We need to fix some data.</strong> {{main.errors}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a ui-sref="signup.intro" class="btn btn-default">
                    <!--ng-if="main.areFieldsValid()"-->
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
                </a>
                <span ng-switch="main.isPackageSelected()">
                     <a ui-sref="signup.profile" class="btn btn-primary" ng-switch-when="true">
                         Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                     </a>
                     <a ui-sref="signup.profile" class="btn btn-primary" ng-switch-when="false" disabled>
                         Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                     </a>
                </span>
            </div>
        </div>
    </div>
</div>
