<div class="content">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <h4>Step 3. Provide Payment Information</h4>
            </div>
        </div>
    </div>



    <div class="row" ng-if="main.hasPaymentErrors">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            <strong>Oops! We need to fix some data.</strong> {{main.errors}}
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a ui-sref="signup.profile" class="btn btn-default">
                    <!--ng-if="main.areFieldsValid()"-->
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
                </a>
                <!--<a ui-sref="signup.payment" class="btn btn-primary">-->
                    <!--&lt;!&ndash;ng-if="main.areFieldsValid()"&ndash;&gt;-->
                    <!--Complete Order <span class="glyphicon glyphicon-circle-arrow-right"></span>-->
                <!--</a>-->
                <button id="PaymentButton" type="submit"
                        class="btn btn-primary"
                        data-style="zoom-in">
                    Complete Order
                </button>
            </div>
        </div>
    </div>
</div>
